* 
{
    box-sizing: border-box; 
    font-size: 0px;
}
body, html
{
    display: grid;
    border: 1px solid white;
    height: 98%;
    width:98%;
    display: center;
    margin: 10px;
    padding: 15px;
}
body.grid
{
    display: grid;
    display: center;
}
div.pink
{
    background-color:#f5c6d6;
    display: border;
    height: 98%;
    width: 398%;
    columns: 1;
    grid-row: 1;
}
section.row
{
    display: inline;
}
div.hotPink1,div.hotPink2,div.hotPink3,div.hotPink4
{
    background-color: #ee2e84;
    columns:4;
    height: 98%;
    width: 98%;
    grid-row: 2;
}
div.cyan1,div.cyan2
{
    background-color: #85cfd8;
    columns: 2;
    height:98%;
    width: 198%;
    grid-row: 3;
}
div.cyan1
{
    grid-column:1;
}
div.cyan2
{
    grid-column: 3;
}
div.green
{
    background-color: #8dc63f;
    display: border;
    width: 296%;
    height: 98%;
    columns: 1;
    grid-row: 4;
    grid-column: 1;
}
div.orange
{
    background-color: #e76e34;
    display: border;
    height:98%;
    width:98%;
    columns: 1;
    grid-row: 4;
    grid-column:4;
}
@media (max-width: 768px)
{
div.pink {
        background-color: #f5c6d6;
        display: border;
        height: 98%;
        width: 398%;
        columns: 1;
        grid-row: 1;
        border: 2px solid white;
    }

    section.row {
        display: inline;
    }

    div.hotPink1,
    div.hotPink2,
    div.hotPink3,
    div.hotPink4 {
        background-color: #ee2e84;
        columns: 1;
        height: 198%;
        width: 198%;
        border: 2px solid white;
    }
    div.hotPink1{
        grid-row:2;
    }
    div.hotPink2{
        grid-row:3;
    }
    div.hotPink3{
        grid-row:4;
    }
    div.hotPink4{
        grid-row: 5;
    }
    div.cyan1,
    div.cyan2 {
        background-color: #85cfd8;
        columns: 1;
        height: 198%;
        width: 298%;
        border: 2px solid white;
    }
    div.cyan1 {
        grid-column: 1;
        grid-row:6;
    }

    div.cyan2 {
        grid-column: 1;
        grid-row:7;
    }

    div.green {
        background-color: #8dc63f;
        display: border;
        width: 396%;
        height: 198%;
        columns: 1;
        grid-row: 8;
        grid-column: 1;
        border: 5px solid white;
    }

    div.orange {
        background-color: #e76e34;
        display: border;
        height: 98%;
        width: 198%;
        columns: 1;
        grid-row: 9;
        grid-column: 1;
        border: 2px solid white;
    }
}