body
{
    background-color: darkviolet;
}
header
{
    text-align: center;
}
#cont
{
    display:inline-block;
    width: 50%;
    height:50%;
    position:absolute;
    left: 23%;
    top: 25%;
    border: 1px solid black;
}